@charset "UTF-8";
/* reset */
body, h1, ul, li {
  margin: 0;
}
.wrapper {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 4%;
        background-color: white;

}
.outer{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4%;
  
  
  
  
}
.article-type-poat{
  margin: 0 auto;
  margin-top: 3%;
  

  

}
.article-inner{
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background: #f5f4f4;
  
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 1px;

}
.article-header .article-title {
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}
.article-header{
  padding: 20px 20px 0;
}
.article-title{
    margin: 0 auto;
    color: #4a4a4a;
    text-decoration: none;
    line-height: 1.3em;
    overflow: hidden;

}
.article-entry {
  color: #595959;
  padding: 0 20px;
  line-height: 1.6em;
}
#main{
  display: grid;
  padding: 1%;
  justify-content: center;
  margin-top: 1px;

  }


* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* NavBar */
nav {
  background: #eee;
  box-shadow: 0px 1px 3px #00000088;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
nav h1 {
  float: left;
  padding-left: 50px;
  line-height: 50px;
}

/* 隱藏 checkbox */
input {
  display: none;
}

/* 漢堡按鈕 */
label {
  float: right;
  padding-right: 10px;
  line-height: 10px;
  cursor: pointer;
}
label img {
  width: 40px;
  margin: 0 auto;
  vertical-align: middle;
}

/* menu*/
.menu {
  clear: both;
  background: #fff;
}
.menu li {
  text-align: center;
  border-bottom: 1px solid #efefef;
}
.menu li a {
  display: block;
  line-height: 50px;
  font-size: 18px;
  color: #5d5d5d;
}
.menu li a:hover {
  background: #5d5d5d;
  color: #fff;
}

/* 下拉選單效果 */
.menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.1s;
  /* 動畫秒數 */
}

input:checked ~ .menu {
  max-height: 300px;
}

/* mediaquery */
@media screen and (min-width: 1000px) {
  label {
    
    display: none;
  }

  .menu {
    float: right;
    clear: none;
    max-height: 50px;
    background: #eee;
  }
  .menu li {
    display: inline-block;
  }
  .menu li a {
    padding: 0 15px;
  }
  
  
  
  
   
     
  }
 
    

